:root {
  --ifm-color-primary: #1a3a6b;
  --ifm-color-primary-dark: #163260;
  --ifm-color-primary-darker: #142f5a;
  --ifm-color-primary-darkest: #10264a;
  --ifm-color-primary-light: #1e4276;
  --ifm-color-primary-lighter: #20457c;
  --ifm-color-primary-lightest: #264f8c;
  --ifm-code-font-size: 95%;
}
